<div class="">
    <div class="d-flex justify-content-between">
        <h3 class="fw-bold">کاربران</h3>
        <div class="">
            <div class="btn-group p-0 " role="group" aria-label="Basic example">
                <a href="/admin/user/create" class="btn rounded-2 btn-sm  btn-primary">کاربر جدید</a>
                <a href="/admin/user/adminUser" class="btn rounded-2 btn-sm  btn-danger">مدیران</a>
            </div>
        </div>
    </div>
    <hr class="my-4" />
    <table class="table table-bordered">


        <table class="table table-striped">
            <thead>
                <tr class="fw-bolder text-center">
                    <div class="row">
                        <th class="col-2">نام نام‌خانوادگی</th>
                        <th class="col-3">ایمیل</th>
                        <th class="col-2">شماه تماس</th>
                        <th class="col-1">تاریخ تولد</th>
                        <th class="col-2">تنطیمات </th>
                    </div>

                </tr>
            </thead>


            <tbody>
                <% if (users.docs.length> 0) { %>
                    <% users.docs.forEach(user=> { %>
                        <tr style="font-size: .9rem;" class="text-center">
                            <th>
                                <%= user.name + ' ' + user.lastName %>
                            </th>
                            <th>
                                <%= user.email %>
                            </th>
                            <th>
                                <%= user.number ? user.number : 'خالی' %>
                            </th>

                            <th>
                                <%= user.birth ? user.birth : 'خالی' %>
                            </th>
                            <td class="d-flex justify-content-center align-items-center">

                                <form action="/admin/user/adminChange/<%= user.id %> " method="POST" >
                                    <button type="submit" class="btn rounded-end rounded-0 btn-sm btn-secondary"><%= user.admin ? 'ادمین' : 'کاربر' %> </button>
                                </form>


                                <form class="btn-group p-0" action="/admin/user/distroy/<%= user.id %>?_method=DELETE"
                                    method="POST">

                                    <div class="btn-group overflow-hidden  rounded-0 rounded-start" role="group"
                                        aria-label="Basic example">
                                        <a href="/admin/user/role/<%= user.id %>" class="btn  btn-sm btn-secondary">دسترسی</a>
                                        <a href="#" class="btn  btn-sm btn-secondary">ویرایش</a>
                                        <button type="button" class="btn btn-sm btn-secondary">حذف</button>
                                    </div>

                                    <!-- <button type="submit" class="btn rounded-2 btn-sm btn-danger">حذف</button> -->
                                </form>
                            </td>
                        </tr>
                            <% }) %>
                        <% } else { %>
                            <p>هیچ موردی یافت نشد</p>
                        <% } %>
            </tbody>
        </table>
        </tbody>
    </table>
</div>





<%# include('./../../global/pagination.ejs' , {pagination: buy}) %>