<div class="container bg-light mt-4 rounded-2">
    <div class="row">
        <table class="table table-striped m-0">
            <thead>
                <tr class="fw-bold">
                    <th>ردیف</th>
                    <th>نام محصول</th>
                    <th>قیمت</th>
                    <th>تعداد / وزن</th>
                    <th>تاریخ خرید</th>
                    <th>تنظیمات</th>
                </tr>
            </thead>
            <tbody>
                <% if (buyList.docs.length > 0) { %>
                    <% buyList.docs.forEach(item => { %>
                        <tr>
                            <th scope="row">1</th>
                            <td><%= item.name %></td>
                            <td><%= item.price %></td>
                            <td><%= item.number %></td>
                            <td><%= item.date %></td>
                            <td><%= item.date %></td>
                            <td class="d-flex justify-content-center align-items-center">
                                <form class="btn-group p-0" action="/user-panel /buy/store/<%= item.id %>?_method=DELETE"
                                    method="POST">
                                    <a href="#" class="btn rounded-2 btn-sm btn-success">ویرایش</a>
                                    <button type="submit" class="btn rounded-2 btn-sm btn-danger">حذف</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <th colspan="12" class="text-center fw-bold p-4">موردی یافت نشد</th>
                    </tr>
                    
                <% } %> 
            </tbody>
        </table>
    </div>
</div>
<%- include('./../global/pagination.ejs' , {pagination: buyList}) %>

