<div>
    <div>
        <h4 class="mb-4">ایجاد دوره جدید</h4>
    </div>
    <hr />

    <%- include(viewPath('resource/views/global/errors.ejs')) %>
        <form class="needs-validation" action="/admin/episodes/create" method="POST" novalidate>
            <div class="form-row">
                <div class="col-6 mb-2">
                    <label class="mb-2" for="title">نام قسمت</label>
                    <input type="text" class="form-control py-2" value="<%= old('title') %>" name="title" id="title"
                        placeholder="نام یا عنوان قسمت را وارد کنید." required pattern=".{5,}">
                    <div class="valid-feedback">
                        <small> بسیار عالی!</small>
                    </div>
                    <div class="invalid-feedback">
                        <small>بیشتر از 4 کلمه !</small>
                    </div>
                </div>

                <div class="form-group col-6">
                    <label for="course">انتخاب دوره</label>
                    <select class="form-control mt-2" name="course" id="course">
                        <% courses.forEach(course => { %>
                            <option value="<%= old('title' , course.id)%>"><%= course.title %> </option>
                        <% }) %> 
                    </select>
                </div>

                <div class="form-group col-4">
                    <label for="coursetype">نوع دوره</label>
                    <select class="form-control mt-2" name="type" id="type">
                    <option value="vip" <%= old('type') == 'vip' ? 'selected' : '' %>>نقدی</option>
                    <option value="cash" <%= old('type') == 'cash' ? 'selected' : '' %>>ویژه</option>
                    <option value="free" <%= old('type') == 'free' ? 'selected' : '' %>>رایگان</option>
                    </select>
                </div>

                <div class="col-4">
                    <label class="mb-2" for="time">زمان دوره</label>
                    <input type="text" class="form-control py-2" value="<%= old('time') %>" name="time" id="time"
                        required placeholder="مثال : 22:16">
                    <div class="valid-feedback">
                        <small>بسیار عالی !</small>
                    </div>
                    <div class="invalid-feedback">
                        <small>الزامی !</small>
                    </div>
                </div>

                <div class="col-4">
                    <label class="mb-2" for="number">شماره ویدیو</label>
                    <input type="text" class="form-control py-2" value="<%= old('number') %>" name="number" id="number" required
                        placeholder="شماره ویدیو را وارد کنید.">
                    <div class="valid-feedback">
                        <small>بسیار عالی !</small>
                    </div>
                    <div class="invalid-feedback">
                        <small>الزامی !</small>
                    </div>
                </div>

                <div class="col-12">
                    <label class="mb-3" for="videoUrl">آدرس ویدیو</label>
                    <input type="text" class="form-control py-2" value="<%= old('videoUrl') %>" name="videoUrl" id="videoUrl" required
                        placeholder="شماره ویدیو را وارد کنید.">
                    <div class="valid-feedback">
                        <small>بسیار عالی !</small>
                    </div>
                    <div class="invalid-feedback">
                        <small>الزامی !</small>
                    </div>
                </div>

                <div class="col-12">
                    <label class="mb-2" for="description">متن دوره</label>
                    <textarea class="form-control py-2"  name="description" id="description" required
                        rows="5"><%= old('description') %></textarea>
                    <div class="valid-feedback">
                        <small>بسیار عالی !</small>
                    </div>
                    <div class="invalid-feedback">
                        <small>الزامی !</small>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3 p-0">
                <button class="btn btn-primary" type="submit">ثبت</button>
            </div>
        </form>
</div>