<div>
    <div>
        <h4 class="mb-4">ثبت خرید جدید</h4>
    </div>
    <hr/>

        <%- include(viewPath('resource/views/global/errors.ejs'))  %> 
    <form class="needs-validation" action="/admin/assessment/create" method="POST" novalidate>
        <div class="form-row">
            <div class="bg-light w-100 p-2 rounded-2">
                <h4 class="fw-bold text-center">اطلاعات کاربر</h4 class="">
                <p class="fw-bold">کاربر : <%=  user.user.lastName ? user.user.name + ' ' + user.user.lastName : user.user.name %> </p>
                <p class="fw-bold">تاریخ عضویت : <%= date(user.createdAt)%></p>
                <p class="fw-bold">تاریخ تولد : <%= user.birth ? user.birth :  'خالی' %> </p>
            </div>
            <div class="col-6">
                <label class="my-2" for="date">تاریخ</label>
                <input type="text" class="example1 form-control py-2" value="<%# old('date') %>" name="date"
                id="date" required placeholder="تاریخ تولد"/>
                <div class="valid-feedback">
                    <small>بسیار عالی !</small>
                </div>
                <div class="invalid-feedback">
                    <small>پسورد الزامی است !</small>
                </div>
            </div>

            <!-- 
            <div class="col-4">
                <label class="mb-2" for="number">نمره</label>
                <input type="text" class="form-control py-2" value="<%# old('number') %>" name="number"
                    id="number" required placeholder="نمره را از صفر تا ده وارد کنید">
                <div class="valid-feedback">
                    <small>بسیار عالی !</small>
                </div>
                <div class="invalid-feedback">
                    <small>پسورد الزامی است !</small>
                </div>
            </div> -->
            <input type="hidden" name="user" value="<%= user.user.id %>">
            <input type="hidden" name="class" value="<%= user.course.id %>">

            <div class="col-6">
                <label class="my-2" for="number">نمره</label>
                <input type="text" class="form-control py-2" value="<%= old('number') %>" name="number"
                    id="number" required placeholder="از یک تا صد یک عدد وارد کنید">
                <div class="valid-feedback">
                    <small>بسیار عالی !</small>
                </div>
                <div class="invalid-feedback">
                    <small>نمره الزامی است</small>
                </div>
            </div>
        </div>

        <div class="col-12 my-3 p-0">
            <button class="btn btn-primary" type="submit">ثبت</button>
        </div>

        
       
    </form>


    <hr/>
    <br/>
    



    <table class="table table-striped">
        <thead>
            <tr class="fw-bolder text-center">
                <div class="row">
                    <th class="col-5">نمره</th>
                    <th class="col-6">تاریخ</th>
                    <th class="col-1">تنطیمات </th>
                </div>

            </tr>
        </thead>
        <tbody>
            <% if (assessment.length > 0) { %>
                <% assessment.forEach(item => { %>
                    <tr style="font-size: .9rem;" class="text-center">
                        <th><%= item.number %> </th>
                        <th><%= item.date %> </th>
                        <td class="d-flex justify-content-center align-items-center">
                            <form class="btn-group p-0" action="/admin/assessment/distroy/<%= item.id %>?_method=DELETE" method="POST">
                                <div class="btn-group overflow-hidden rounded-1" role="group" aria-label="Basic example">
                                    <a href="edit/<%= item.id %>" class="btn  btn-sm btn-secondary">ویرایش</a>
                                    <button type="submit" class="btn btn-sm btn-secondary">حذف</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            <% } else {   %>
                <tr class="bg-light">
                    <th colspan="12" class="text-center fw-bold p-3">موردی یافت نشد</th>
                </tr>
            <% } %> 
        </tbody>
    </table>
</div>


